NEXT_PUBLIC_BASE_URL=http://localhost:7087
NEXT_PUBLIC_API_URL=http://localhost:7087/api
API_URL=http://localhost:7087/api

JWT_SECRET=a8d3F7kLm1jnnjnjnjnjng55452qX5sRw9YZpQ3tNVKx4WPl5BrTzQvHsMn
JWT_ISSUER=H2.2025-API
JWT_AUDIENCE=H2-2025-Client
